<div class="container">
    <div class="row img_highlight">
        <div class="col-xs-6 col-sm-4 wrap_item_image_httc">
            <img class="img-responsive img_highlight_httc lazyload"
                data-src="https://vnvc.vn/wp-content/uploads/2018/07/VNVC-kham-sang-loc-truoc-tiem-1.png"
                style="cursor: zoom-in;"
                src="https://vnvc.vn/wp-content/uploads/2018/07/VNVC-kham-sang-loc-truoc-tiem-1.png">
        </div>
        <div class="col-xs-6 col-sm-4 wrap_item_image_httc">
            <img class="img-responsive img_highlight_httc lazyload"
                data-src="https://vnvc.vn/wp-content/uploads/2018/07/img_1-1.png" style="cursor: zoom-in;"
                src="https://vnvc.vn/wp-content/uploads/2018/07/img_1-1.png">
        </div>
        <div class="row intro_page_httc">
            <div class="col-xs-12 col-sm-12">
                <p class="intro_httc"> </p>
                <p>Là trung tâm tiêm chủng cho trẻ em và người lớn chất lượng hàng đầu, VNVC đang mở rộng hệ thống các
                    trung tâm giúp mang chất lượng dịch vụ tốt nhất với giá cực kỳ ưu đãi đến người dân trên khắp cả
                    nước. Tại hệ thống tiêm chủng VNVC, chúng tôi luôn mong muốn đem lại sự thuận tiện, thoải mái và yên
                    tâm cho khách hàng.<br>
                    Khách hàng sẽ được Bác sĩ chuyên khoa kiểm tra sức khỏe và tư vấn các mũi tiêm phù hợp với lứa
                    tuổi.<br>
                    Đội ngũ điều dưỡng được đào tạo chuyên biệt về tiêm chủng cùng với sự chu đáo và nhiệt tình chăm sóc
                    trẻ.<br>
                    Phòng tiêm với đầy đủ các trang thiết bị y tế đạt chuẩn cao cấp. Không gian phòng chờ trước tiêm và
                    sau tiêm rộng rãi, thoáng mát, đầy màu sắc cuốn hút, tạo sự thân thiện với trẻ. </p>
                <div id="top_line"></div>
                <p>Ngoài ra mẹ và bé còn có khu vực riêng cho con bú, phòng thay tã, phòng pantry… để con được thoải mái
                    như đang ở nhà.<br>
                    Với cơ sở vật chất và chất lượng dịch vụ 5 sao, giá vắc xin tại VNVC cực kỳ cạnh tranh và đặc biệt,
                    chỉ tính phí vắc xin, các tiện ích kèm theo đều được miễn phí như: khám sàng lọc trước tiêm, gửi xe,
                    khu vui chơi, nước uống, wifi, các phòng riêng cho mẹ và bé...</p>

            </div>
        </div>
    </div>
</div>