<div class="mt-4">
    <h3>Đăng ký tiêm</h3>

    <form method="POST" action="/tiems/store">
        <div class="form-group">
            <label for="hoten">Họ tên người tiêm</label>
            <input type="text" class="form-control" id="hoten" name="hoten">
        </div>
        <div class="form-group">
            <label for="ngaysinh">Ngày sinh người tiêm</label>
            <input type="date" class="form-control" id="ngaysinh" name="ngaysinh">
        </div>
        <div class="form-group">
            <label for="gioitinh">Giới tính</label>
            <input type="text" class="form-control" id="gioitinh" name="gioitinh">
        </div>
        <div class="form-group">
            <label for="tinh">Tỉnh thành</label>
            <input type="text" class="form-control" id="tinh" name="tinh">
        </div>
        <div class="form-group">
            <label for="quan">Quận huyện</label>
            <input type="text" class="form-control" id="quan" name="quan">
        </div>
        <div class="form-group">
            <label for="xa">Phường xã</label>
            <input type="text" class="form-control" id="xa" name="xa">
        </div>
        <div class="form-group">
            <label for="dc">Số nhà, tên đường</label>
            <input type="text" class="form-control" id="dc" name="dc">
        </div>
        <h2>THÔNG TIN LIÊN HỆ</h2>
        <div class="form-group">
            <label for="hotenlienhe">Họ tên người liên hệ</label>
            <input type="text" class="form-control" id="hotenlienhe" name="hotenlienhe">
        </div>
        <div class="form-group">
            <label for="moiquanhe">Mối quan hệ với người tiêm</label>
            <input type="text" class="form-control" id="moiquanhe" name="moiquanhe">
        </div>
        <div class="form-group">
            <label for="sdt">Số điện thoại người liên hệ</label>
            <input type="text" class="form-control" id="sdt" name="sdt">
        </div>
        <h2>THÔNG TIN DỊCH VỤ</h2>
        <div class="form-group">
            <label for="loaivacxin">Loại vacxin muốn đăng ký</label>
            <input type="text" class="form-control" id="loaivacxin" name="loaivacxin">
        </div>
        <div class="form-group">
            <label for="trungtam">Trung tâm VNVC muốn tiêm</label>
            <input type="text" class="form-control" id="trungtam" name="trungtam">
        </div>
        <div class="form-group">
            <label for="ngaytiem">Ngày mong muốn tiêm</label>
            <input type="date" class="form-control" id="ngaytiem" name="ngaytiem">
        </div>
        
        <button type="submit" class="btn btn-primary">Hoàn thành đăng ký</button>
    </form>
</div>